[alias]
	dcw = diff --color-words
	lo = log --oneline
	logg = log --graph --oneline --all --decorate --abbrev-commit
	co = checkout
	ci = commit
	df = diff
	dfs = diff --staged
	ui = always
	status = always
	branch = always
	diff = always
	interactive = always
[merge]
	tool = BeyondCompare3
[mergetool "kdiff3"]
	path = C:/Program Files (x86)/KDiff3/kdiff3.exe
[diff]
	guitool = beyondcompare3
[difftool "kdiff3"]
	path = notepad.exe
[core]
	editor = \"c:/Program Files/Sublime Text 2/sublime_text.exe\"
	autocrlf = false
	filemode = false
[credential]
	helper = !\"C:/Program Files (x86)/GitExtensions/GitCredentialWinStore/git-credential-winstore.exe\"
[user]
	name = jjbutare
	email = john.butare.s@gmail.com
[difftool "BeyondCompare3"]
	path = C:/Program Files (x86)/Beyond Compare 3/bcomp.exe
[difftool "beyondcompare3"]
	path = C:/Program Files (x86)/Beyond Compare 3/bcomp.exe
	cmd = \"C:/Program Files (x86)/Beyond Compare 3/bcomp.exe\" \"$LOCAL\" \"$REMOTE\"
[mergetool "BeyondCompare3"]
	path = C:/Program Files (x86)/Beyond Compare 3/bcomp.exe
	cmd = \"C:/Program Files (x86)/Beyond Compare 3/bcomp.exe\" \"$LOCAL\" \"$REMOTE\" \"$BASE\" \"$MERGED\"
[difftool "tmerge"]
	path = C:/Program Files/TortoiseGit/bin/TortoiseGitMerge.exe
	cmd = \"C:/Program Files/TortoiseGit/bin/TortoiseGitMerge.exe\" \"$LOCAL\" \"$REMOTE\"
