[alias]
	dcw = diff --color-words
	lo = log --oneline
	logg = log --graph --oneline --all --decorate --abbrev-commit
	co = checkout
	ci = commit
	df = diff
	dfs = diff --staged
	ui = always
	status = always
	branch = always
	diff = always
	interactive = always
[core]
	autocrlf = false
[user]
	name = jjbutare
	email = john.butare.s@gmail.com
[push]
	default = matching
