# ~/.inputrc: readline initialization file from /etc/defaults/etc/skel/.inputrc
# http://www.bigsmoke.us/readline/shortcuts.pxhtml

# test
"\e[18~": "F7" #F7
"\e[19~": "F8" #F8

"\eOP": shell-expand-line   #F1
"\eOQ": history-expand-line #F2

# previous positition - ctrl-x
"\eOH": beginning-of-line   # home, ctrl-a
"\eOF": end-of-line         # end, ctrl-e
"\e[1;5C": forward-word     # ctrl/option-left, alt-f
"\e[1;5D": backward-word    # ctrl/option-right, alt-b

# delete to begin/end of line - ctrl-u/k
# paste yanked/previous yanked text - ctrl/alt-y
# delete character under cursor - ctrl-d Delete (win) fn-delete (mac)
"\e[3~": delete-char
"\e[3;5~": kill-word          # alt-d ctrl-backspace (win) option-delete (mac)
"\C-_": backward-kill-word      # ctrl/option-delete
"\e[3;6~": kill-line            # ctrl-shift-backspace
"\xC2\x9F": backward-kill-line  # ctrl-shift-delete

# Search command history 
"\e[A": history-search-backward # up
"\e[B": history-search-forward  # dn
"\e[1;5A": history-search-backward  # ctrl-up 
"\e[1;5B": history-search-forward   # ctrl-dn

$if Bash

  set bell-style visible # visible|none|audible
 
  # Filename completion/expansion
	Tab: complete          # tab
	"\e[Z": menu-complete  # shift-tab

  set completion-ignore-case on
  set show-all-if-ambiguous on
	set menu-complete-display-prefix off
	set skip-completed-text on
	set visible-stats on
  set expand-tilde on

  # Append "/" to all dirnames
  set mark-directories on
  set mark-symlinked-directories on

  set page-completions off
  set completion-query-items -1

  # Match all files
  #set match-hidden-files on

  # Insert a space character then performs a history expansion in the line
  Space: magic-space
	
$endif

