# ~/.inputrc: readline initialization file from /etc/defaults/etc/skel/.inputrc
# http://www.bigsmoke.us/readline/shortcuts.pxhtml

# test
#"\eOP": "F1"  #F1
#"\e[18~": "F7" #F7
#"\e[19~": "F8" #F8

"\eOP": "gs\015"	#F1
"\eOQ": "gs\015"	#F2

"\e[15~": shell-expand-line   #F5
"\e[16~": history-expand-line #F6

# previous positition - ctrl-x
"\eOH": beginning-of-line   # home, ctrl-a
"\eOF": end-of-line         # end, ctrl-e
"\e[1;5C": forward-word     # (mintty) ctrl-left, alt-f (terminal) option-left
"\e[1;5D": backward-word    # (mintty) ctrl-right, alt-b (termina) option-left
"\e[1;2C": forward-word     # (iTerm) shift-left
"\e[1;2D": backward-word    # (iTerm) shift-left

# undo alt-backspace (win)
# paste yanked/previous yanked text - ctrl/alt-y
# delete character under cursor - ctrl-d Delete (win) fn-delete (mac)
"\e[3~": delete-char
"\e[3;5~": kill-word         	 	# alt-d ctrl-delete (win) option-delete (mac)
"\C-_": backward-kill-word      # alt-backspace ctrl-backspace (win)
"\C-H": backward-kill-word      # alt-backspace ctrl-backspace (win)
"\e[3;6~": kill-line            # ctrl-shift-backspace
"\xC2\x9F": backward-kill-line  # ctrl-u/k, ctrl-shift-delete (win)

# Search command history 
"\e[A": history-search-backward # up
"\e[B": history-search-forward  # dn
"\e[1;5A": history-search-backward  # ctrl-up 
"\e[1;5B": history-search-forward   # ctrl-dn

$if Bash

  set bell-style visible # visible|none|audible
  set completion-query-items -1
  set completion-ignore-case on
  set expand-tilde off
  set match-hidden-files off
  set menu-complete-display-prefix off
  set page-completions off
  set show-all-if-ambiguous on
  set skip-completed-text on
  set visible-stats on
 
	Tab: complete          # tab
	"\e[Z": menu-complete  # shift-tab

  # Append "/" to all dirnames
  set mark-directories on
  set mark-symlinked-directories on

  # insert a space character then do  a history expansion 
  Space: magic-space
	
$endif

